{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %} Página inicial {% endblock %}

{% block content %}
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          &nbsp;
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">

              <img src="{{ recent_products.0.product_images.first.image_path.url }}" alt="{{ recent_products.0.short_description }}" width="419" height="320">
              <div style="padding-top: 5px;">
                <img src="http://placehold.it/97x50" alt="" style="padding-bottom: 5px;">
                <img src="http://placehold.it/97x50" alt="" style="padding-bottom: 5px;">
                <img src="http://placehold.it/97x50" alt="" style="padding-bottom: 5px;">
                <img src="http://placehold.it/97x50" alt="" style="padding-bottom: 5px;">
                <img src="http://placehold.it/97x50" alt="" style="padding-bottom: 5px;">
                <img src="http://placehold.it/97x50" alt="" style="padding-bottom: 5px;">
              </div>
            </div>
            <div class="col-md-6">
              <h3 class="modal-title">Pulseira macrâme</h3>
              <p>Pulsiera macrâme cor preta, em vários tamanhos.</p>
              <p>De: <span style="text-decoration: line-through">R$ 22,50</span></p>
              <p>Por: R$ 17,00</p>
              <hr>
              <!-- <div class="form-group">
                <select class="form-control">
                  <option>Selecione um tamanho</option>
                  <option>P</option>
                  <option>M</option>
                  <option>G</option>
                </select>
              </div> -->
              <button type="button" class="btn btn-success btn-block">Adicionar ao Carrinho</button>
              <button type="button" class="btn btn-default btn-block">Adicionar à Lista de Desejos</button>

              <h5 style="padding-top:30px; font-weight: bold">Mais Cores</h5>
              <div style="
                height: 20px;
                width: 20px;
                background-color: pink;
                border-radius: 2px;
                float: left;
                margin-right: 5px;"></div>
              <div style="
                height: 20px;
                width: 20px;
                background-color: red;
                border-radius: 2px;
                float: left;
                margin-right: 5px;"></div>
              <div style="
                height: 20px;
                width: 20px;
                background-color: black;
                border-radius: 2px;
                float: left;
                margin-right: 5px;"></div>

                <div class="text-center" style="margin-top: 80px;">
                  <a href="#" style="color: black; font-weight: bold; font-size: 11px; text-decoration: underline;">Visualizar todos os detalhes do produto</a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <hr>
    <h3>Produtos Recentes</h3>
    <br>
    {% for product in recent_products %}
       <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img alt="{{ product.short_description }}" src="{{ product.product_images.first.image_path.url }}" width="200" height="170">
              <div class="caption">
                  <h3>{{ product.short_description|capfirst }}</h3>
                  <p>{{ product.long_description|capfirst }}</p>
                  <p>R$ {{ product.sale_value }}</p>
                  <p>
                      <a class="btn btn-primary open-modal" href="#">Comprar Agora!</a> <a class="btn btn-default" href="{% url 'products-detail' product.slug %}">Detalhes</a>
                  </p>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $('.open-modal').click(function(){
      $('#myModal').modal('show');
    });
    $("#myModal").on('hidden.bs.modal', function(){
      // TODO: implements exit action
    });
  </script>
{% endblock %}
