{% extends 'base.html' %}

{% load staticfiles %}

{% load core_tags %}

{% block titulo %} Página inicial {% endblock %}

{% block content %}
<!--**********CARROSSEL**********-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="carousel slide" id="carousel-367580">
          <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-367580"></li>
            <li data-slide-to="1" data-target="#carousel-367580" class="active"></li>
            <li data-slide-to="2" data-target="#carousel-367580"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <img alt="Carousel Bootstrap First" src="{% static 'images/banner1.jpg'%}" />
            </div><!---fim div item-->

            <div class="item active">
              <img alt="Carousel Bootstrap Second" src="{% static 'images/banner2.jpg'%}" />
            </div><!---fim div item-->

            <div class="item">
              <img alt="Carousel Bootstrap Third" src="{% static 'images/banner3.jpg'%}" />
            </div><!---fim div item-->
          </div>
          <a class="left carousel-control" href="#carousel-367580" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-367580" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div><!--Fim carousl slide-->
      </div><!--Fim col-md-12-->
    </div><!--Fim row-->
  </div><!--Fim Container-->
<!--**********FIM CARROSSEL**********-->

<!--**********MODAL DE PRODUTO**********-->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          &nbsp;
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            
            <div class="col-md-6">

              <img id="modal-main-image" src="" alt="" width="419" height="320">
              <div id="modal-mini-img" style="padding-top: 5px;"></div>

            </div>

            <div class="col-md-6">
              <h3 id="product-modal-title" class="modal-title"></h3>
              <p id="product-modal-description"></p>
              <p>De: R$<span id="product-modal-price" style="text-decoration: line-through"></span></p>
              <p>Por: R$ <span id="product-modal-promotion-price"></span></p>
              <hr>

              <a href="#" id ="btn-add-to-cart" type="button" class="btn btn-sucess btn-md btn-block">
                <span class="glyphicon glyphicon-shopping-cart"></span> Adicionar ao Carrinho
              </a>

              <a href="#" id ="btn-add-to-cart" type="button" class="btn btn-sucess btn-md btn-block">
                <span class="glyphicon glyphicon-heart"></span> Adicionar à Lista de desejos
              </a>

              <div class="text-center" style="margin-top: 80px;">
                <a id="product-modal-link-detail" href="" style="color: black; font-weight: bold; font-size: 11px; text-decoration: underline;">Visualizar todos os detalhes do produto</a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--**********FIM MODAL DE PRODUTO**********-->

<!--**********PRODUTOS DE DESTAQUE**********-->
  <div class="row text-center">
    <hr>
    <h3>Produtos em destaque</h3>
    <br>
    {% for product in recent_products %}
       <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img alt="{{ product.short_description }}" src="{{ product.product_images.first.image_path.url }}" width="200" height="170">
              <div class="caption">
                  <h4>{{ product.short_description|capfirst }}</h4>
                  <p>{{ product.long_description|capfirst }}</p>
                  <h3>{{ product.sale_value|currency_format }}</h3>
                  <p>
                    {# <a class="btn btn-primary open-modal" href="#" onclick="montarModalProduto('{{ product.slug }}')">Comprar Agora!</a>  #}
                    <a class="btn btn-primary btn-block" href="{% url 'products-detail' product.slug %}">Comprar</a>
                  </p>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}

<!--**********FIM PRODUTOS DE DESTAQUE**********-->