#footer {
  padding: 40px;
  margin: 50px 0 0 0;
  text-align: center;
  background-color: #e6bb8b;
}

#footer li a {
  color: #7d542b;
  font-weight: bolder;
}

.removeBullet{
  list-style-type: none;
}

.padding_top_50 {
  padding-top: 50px;
}

.margin_top_50 {
  margin-top: 50px;
}

.navbar{
  background-image: none;
  border-radius: 0px;
}

.navbar-default {
  background-color:#e6bb8b;
  border-color: #e6bb8b;
}

.navbar-default .navbar-nav li a {
  color:  #7d542b;
  font-weight: bolder;
}

.btn {
  background-image: none;
}

.btn {
  color:  #7d542b;
  background-color:#fff;
  border-color:  #7d542b;

}

.btn:hover{
  color:  #7d542b;
  background-color:#fff;
  border-color:  #7d542b;
}

.btn:active{
  color:  #7d542b;
  background-color:#fff;
  border-color:  #7d542b;
}

.btn-block{
  color: #91683d;
  background-color:#fff;
  border-color: #91683d;
}

.btn-block:hover{
  color:  #91683d;
  background-color: #e8b988;
  border-color:  #91683d;
}

.btn-block:active{
  color:  #91683d;
  background-color: #e8b988;
  border-color:  #91683d;
}

h3{
  color:#7d543d;
  text-align: center;
  font-weight: bolder;
}

h4{
  color:#7d543d;
  font-weight: bolder;
}

hr{
  width:300px;
}

.logo{
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0; 
}

.menu{
  padding-left: 150px;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
  color: #7d542b;
  background-color: #e6bb8b;
}

.dropdown-menu {
  background-color:#e6bb8b;
}

/*cor do menu dropdown*/
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color:#E6B18B
}

/*cor das tags label do site*/
label{
  color: #7d542b;
}

/*cor do botão da modal de login*/
.login{
  color: #7d542b;
  background-color:#fff;
  border-color: #7d542b;
}

/*cor do botão da modal de login quando for clicado*/
.login:hover{
   color:#7d542b;
}

/*cor dos links da modal de login*/
.modal-body a{
  color:#7d542b;
}

/*Muda a cor do nome da empresa no rodapé*/
.nome{
  color:#e6bb8b;

}

<<<<<<< HEAD
/*tags da tela de detalhes de produtos*/
.label-default{
  background-color: #7d542b;
}
=======
/*Escopo da página*/
.escopo{
  margin-top: 55px;
}
>>>>>>> f21a1a14fdff41715daf86a1b56040a952882df8
