{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %} Fechar Pedido {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h4>Informações do Cliente</h4>
        </div>

        <div class="col-md-6">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                    <h4 class="list-group-item-heading">Resumo do Pedido</h4>
                    <!-- <p class="list-group-item-text">Alguma descrição aqui</p> -->
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Item #1</h4>
                    <p class="list-group-item-text">Alguma descrição aqui</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Item #2</h4>
                    <p class="list-group-item-text">Alguma descrição aqui</p>
                </a>
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">Item #3</h4>
                    <p class="list-group-item-text">Alguma descrição aqui</p>
                </a>
                <a href="#" class="list-group-item active col-md-12">
                    <h4 class="list-group-item-heading">
                        Aguardando Pagamento <span style="float:right">R$ 99,99</span>
                    </h4>
                </a>
            </div>
        </div>
    </div>



{% endblock %}