{% extends 'base.html' %}

{% load staticfiles %}

{% load product_tags %}

{% load humanize %}

{% block titulo %} Página inicial {% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-6">
		
   <!-- <img src="{{ object.product_images.first.image_path.url }}" alt="{{ recent_products.0.short_description }}" width="419" height="320">-->
    
    <a href="{{ object.product_images.first.image_path.url }}" class="jqzoom" title="Imagem">
      <img src="{{ object.product_images.first.image_path.url }}" title="Ferrari" width="419" height="320" />
    </a>

    <div class="row">
    	<div class="col-md-10">
		    <div style="padding-top: 5px;">
			  {% for image in object.product_images.all %}
           <a href="{{ object.product_images.first.image_path.url }}" class="jqzoom" title="Imagem">
            <img src="{{ object.product_images.first.image_path.url }}" title="Ferrari"  width="70" height="50"/>
    </a>
		      	<!--<img src="{{ image.image_path.url }}" alt="{{ image.product.short_description }}" style="padding-bottom: 5px;" width="70" height="50">-->
			  {% endfor %}
		    </div>
	    </div>
   	</div>

	</div>
  
	<div class="col-md-6">
		<h3 class="text-center">{{ object.short_description|title }}</h3>
    <p>{{ object.long_description|capfirst }}</p>
    <div class="well">
  		<h5><span style="color: #F32; text-decoration: line-through">De: {{ object.sale_value|add:5|currency_format }}</span></h5>
      <h2>Por: {{ object.sale_value|currency_format }}</h2>
    </div>
    <hr>
	  <a href="{% url 'cart-add' object.slug %}" id="btn-add-to-cart" type="button" class="btn btn-success btn-lg btn-block">
		  <span class="glyphicon glyphicon-shopping-cart"></span> Adicionar ao Carrinho
	  </a>
	  <a href="{% url 'whishlist-add' object.slug %}" class="btn btn-default btn-lg btn-block">
		  <span class="glyphicon glyphicon-heart"></span> Adicionar à Lista de Desejos
	  </a>

	  <div class="ratings padding_top_50">
      <p class="pull-right">{{ product_reviews|length }} Opiniões</p>
      <p>
        {% for i in product_reviews|calculate_media|get_range %}
          <span class="glyphicon glyphicon-star"></span>
        {% endfor %}
        <p>{{ product_reviews|calculate_media }} Estrelas</p>
      </p>
    </div>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>Detalhes do produto</h3>
		<p>{{ object.long_description }}</p>

		<h3>Informações</h3>
		<table class="table">
	    {% for detail in product_details %}
	      <tr>
	        <td>{{ detail.name }}</td>
	        <td>{{ detail.description }}</td>
	    {% endfor %}
	    </table>

		{% for tag in object.tags %}
			<span class="label label-default"><a href="{% url 'category-list' tag.name %}" style="text-decoration: none; color: #FFF;">{{ tag.name }}</a></span>
		{% endfor %}
	</div>

	<div class="col-md-6">
		<h3>Recomendados para você</h3>
    	{% for product in related_products %}
			<a href="{% url 'products-detail' product.related_product.slug %}">
        		<img src="{{ product.related_product.product_images.first.image_path.url }}" alt="{{ product.related_product.short_description }}" style="padding-bottom: 5px;" width="180" height="250">
      		</a>
    	{% endfor %}
	</div>
</div>

<div class="well margin_top_50">
  <div class="text-right">
    <a class="btn btn-success">Deixe Um Comentário</a>
  </div>

  <hr>

  {% for review in product_reviews %}
  <div class="row">
    <div class="col-md-12">
    {% for i in review.score|get_range %}
      <span class="glyphicon glyphicon-star"></span>
    {% endfor %}
      <b>{{ review.client.full_name }} ({{ review.client.nickname }})</b>
      <span class="pull-right">{{ review.creation_date }}</span>
      <p>{{ review.opinion }}</p>
    </div>
  </div>
  <hr>
  {% empty %}
    <b>Produto não possui revisões.</b>
  {% endfor %}

</div>

{% endblock %}
