{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %} Produtos - {{ category }} {% endblock %}

{% block content %}
    <h1>{{category|title}}</h1>


    {% for product in object_list %}
       <div class="col-md-3 col-sm-6 hero-feature">
          <div class="thumbnail">
              <img alt="" src="{{ product.product_images.first.image_path.url }}">
              <div class="caption">
                  <h3>{{ product.short_description|capfirst }}</h3>
                  <p>{{ product.long_description|capfirst }}</p>
                  <p>R$ {{ product.sale_value }}</p>
                  <p>
                      <a class="btn btn-primary open-modal" href="#">Comprar Agora!</a> <a class="btn btn-default" href="{% url 'products-detail' product.slug %}">Detalhes</a>
                  </p>
              </div>
          </div>
      </div>
    {% endfor %}

{% endblock %}
