{% extends 'base.html' %}

{% load staticfiles %}

{% block titulo %} Carrinho de Compras {% endblock %}

{% block content %}
    <h3>Carrinho de Compra</h3>

    <table class="table">
        <thead>
            <th>#</th>
            <th>Descrição</th>
            <th>Quantidade</th>
            <th>Valor</th>
        </thead>
        <tbody>
        {% for item in cart.cart_itens.all %}
        <tr>
            <td>{{ item.product.short_description|title }}</td>
            <td>{{ item.product.long_description }}</td>
            <td>{{ item.amount }}</td>
            <td>R$ {{ item.value }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-3 pull-right">
            <label for="cep">Calcule o valor do frete:</label>
            <div class="input-group">
              <input id="campoCep" type="text" class="form-control">
              <div class="input-group-btn">
                <a id="btnCalcularFrete" class="btn btn-default"><span class="glyphicon glyphicon-refresh"></span></a>
              </div>
            </div>
        </div>
    </div>

    <div style="margin-bottom: 20px;"></div>

    
    <div id="deliveryContainer" class="row" style="display:none;">
        <div class="col-md-12 jumbotron">
            <p>Valor do frete: R$ <span id="deliveryPrice"></span>  </p>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'purchase-checkout' %}" type="button" class="btn btn-lg btn-success pull-right">
                <span class="glyphicon glyphicon-credit-card">&nbsp;</span>Finalizar Compra</a>
        </div>
    </div>

{% endblock %}


{% block extra_js %}
  <script src="{% static 'js/cart.js' %}"></script>
{% endblock %}
